#!/usr/bin/make -f
# -*- makefile -*-
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		CMAKE_BUILD_TYPE=Release \
		CMAKE_INSTALL_PREFIX=/usr \
		GGML_VULKAN=ON

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install
